#Gradle
.gradle/
build/
out/
classes/

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#kotlin
.kotlin

#fabric
run/

#datagen
.cache

#misc
temp/**
tools/old-scripts-and-utilities/live-update-server/update.ps1
**/.venv/**
logs/*
**/music.key
tools/egobalego-no-gui/server_data.json
music-encrypt
