#Gradle
.gradle/
build/
out/
classes/

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#fabric
run/

#datagen
.cache

#misc
temp/**
tools/Live-Update-Server/update.ps1
**/.venv/**

#egobalego
*/Egobalego at Home/last_id.txt
*/Egobalego at Home/server_data.json
*/Server di testing e script vari/server_data.json
