<!DOCTYPE html>
<html lang="it">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main>
            <div class="text-center">
                <h2>
                    {{ translations.home_greeting }}
                </h2>
                <h4>
                    {{ translations.home_click_section }}
                </h4>
                <p>
                    {{ translations.home_read_guide_1 }}
                    <a class="link-opacity-100" href="#" data-bs-toggle="modal" data-bs-target="#modal-help">
                        {{ translations.home_read_guide_2 }}
                    </a>
                </p>
            </div>
            <img class="mt-4" style="height: 200px; image-rendering: pixelated;" src="{{ url_for('static', filename='img/favicon.png') }}">
            {% with title=help_title, content=help_content %}
                {% include 'modals/modal-help.html' %}
            {% endwith %}
        </main>
    </body>
</html>