<!DOCTYPE html>
<html lang="it">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main class="container my-3">
            <div class="row justify-content-center">
                <button id="add-card-button" type="button" class="col-auto btn btn-primary">
                    {% include 'icons/plus-circle.html' %} {{ translations.add_trade }}
                </button>
                <div id="card-container"></div>
            </div>
            {% include 'cards/trades-card.html' %}
            {% include 'modals/confirm-deletion.html' %}
            {% with title=help_title, content=help_content %}
                {% include 'modals/modal-help.html' %}
            {% endwith %}
        </main>
    </body>
    <script defer> var activeText = "{{translations.active_1}}" </script>
    <script defer> var notActiveText = "{{translations.not_active_1}}" </script>
    <script src="{{ url_for('static', filename='js/trades.js') }}" defer></script>
</html>