<!DOCTYPE html>
<html data-bs-theme="{{theme}}">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main class="container my-3">
            <div id="card-container" class="row justify-content-center">
                {% include 'cards/websocket-cards.html' %}
            </div>
            {% with title=help_title, content=help_content %}
                {% include 'modals/modal-help.html' %}
            {% endwith %}
        </main>
        {% include 'shared/footer.html' %}
    </body>
    <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
</html>