<!DOCTYPE html>
<html data-bs-theme="{{theme}}">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main class="container my-3">
            <div id="card-container" class="row justify-content-center">
                {% include 'cards/websocket-cards.html' %}
            </div>
            {% with title=help_title, content=help_content %}
                {% include 'modals/modal-help.html' %}
            {% endwith %}
        </main>
        <footer class="fixed-bottom {% if theme == 'ligth' %} bg-light {% else %} bg-light-subtle {% endif %}">
            <div class="row justify-content-center py-4">
                <button id="reload-button" class="col-auto btn btn-lg btn-danger" disabled>
                    {% include 'icons/reload.html' %} {{ translations.reload_mod_data }}
                </button>
            </div>
        </footer>
    </body>
    <script src="{{ url_for('static', filename='js/socket.io.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/websocket.js') }}" defer></script>
</html>