<template id="command-template">
    <div class="row justify-content-center">
        <div id="command-card" class="card mt-3 bg-dark-subtle p-3" style="max-width: 550px;">

            <input id="card-id" hidden/>

            <div class="row card-title">
                <div id="no-type-warning" class="col-auto text-danger">
                    Tipo comando non impostato
                </div>

                <div id="card-enabler" class="col-auto form-check form-switch ms-3" hidden>
                    <input id="card-enabler-switch" class="form-check-input" type="checkbox" role="switch">
                    <label id="card-enabler-label" class="form-check-label">
                        Non attivo
                    </label>
                </div>

                <div class="col text-end">
                    <button id="delete-card-button" class="btn btn-sm btn-outline-secondary">
                        {% include 'icons/trash-fill.html' %}
                    </button>
                </div>
            </div>

            <div class="card-body justify-content-center">
                <div class="row input-group g-0">
                    <span class="input-group-text col-4">Tipologia</span>
                    <select id="command-type" class="form-select">
                        <option value="none" selected></option>
                        <option value="manual">Manuale</option>
                        <option value="rmResearcher">Rimuovi ricercatori</option>
                        <option value="tpResearcher">Teletrasporta ricercatore</option>
                        <option value="spawnResearcher">Spawna ricercatore</option>
                        <option value="rmTent">Rimuovi tenda</option>
                    </select>
                </div>

                <div id="manual-command" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-auto">/</span>
                    <input id="command-content" class="form-control" value="summon pig">
                </div>

                <div id="coordinates" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">Coordinate</span>
                    <input id="x-coord" type="number" class="form-control" placeholder="X" value="0">
                    <input id="y-coord" type="number" class="form-control" placeholder="Y" value="0">
                    <input id="z-coord" type="number" class="form-control" placeholder="Z" value="0">
                </div>
            </div>
        </div>
    </div>
</template>