<div class="modal fade" id="modal-confirm-deletion" tabindex="-1">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Confermi la rimozione?</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" id="delete-button-modal" class="btn btn-primary" data-bs-dismiss="modal">Sì</button>
            </div>
        </div>
    </div>
</div>