<!DOCTYPE html>
<html lang="it">
    {% include 'shared/head.html' %}
    <body>
        {% include 'shared/header.html' %}
        <main>
            <div class="text-center">
                <h2>
                    Salve, Game Master!
                </h2>
                <h4>
                    Clicca su una delle sezioni sopra per iniziare
                </h4>
                <p>
                    Se non lo hai già fatto, leggi prima la 
                    <a class="link-opacity-100" href="#" data-bs-toggle="modal" data-bs-target="#modal-help">
                        guida!
                    </a>
                </p>
            </div>
            <img class="mt-4" style="height: 200px; image-rendering: pixelated;" src="{{ url_for('static', filename='img/favicon.png') }}">
            {% include 'modals/home-help.html' %}
        </main>
    </body>
</html>