<div class="modal fade" id="modal-help" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-help-label">Aiuto comandi</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Questa è la sezione dei comandi. Essi si dividono in due categorie: <b>comandi manuali</b> e <b>operazioni</b>.
                </p>
                <p>
                    I <b>comandi manuali</b> sono abbastanza autoesplicativi, permettono di eseguire qualsiasi comando di Minecraft che sia accessibile da un giocatore con i trucchi attivi. Devi semplicemente inserire il comando che inseriresti nel gioco (senza "/" all'inizio), ed esso verrà eseguito appena la mod riceverà il contenuto dal sito.
                    <br>
                    <u>Nota:</u> I comandi ricevuti verranno eseguiti una sola volta, che abbiano avuto successo o meno. Inoltre, in quanto potenzialmente pericolosi, per poterli usare bisogna attivare l'impostazione della mod <i>"remoteCommandExecution"</i>.
                </p>
                <p>
                    Le <b>operazioni</b> (anche dette "emergenze") sono comandi specifici della mod, ognuna svolge un compito specifico:
                </p>
                <p>
                    <b>Rimuovi ricercatori</b> rimuove <u>TUTTI</u> i ricercatori che sono stati spawnati prima della ricezione del comando, con un minuto di grazia per evitare problemi nel caso ne siano stati spawnati altri nel frattempo (per esempio creando una nuova tenda).
                    <br>
                    <u>Nota:</u> la rimozione avviene quando il gioco li carica effettivamente, quindi per stare sul sicuro meglio non disattivare il comando una volta creato.
                </p>
                <p>
                    <b>Teletrasporta ricercatore</b> teletrasporta il primo ricercatore che il gioco carica alle coordinate date, e reimposta la sua "posizione iniziale" (usata per non allontanarsi, rilevare la tenda ecc.) al punto di teletrasporto.
                </p>
                <p>
                    <b>Spawna ricercatore</b> spawna un ricercatore <u>SENZA</u> tenda alle coordinate date (per spawnarne uno nuovo con la tenda usare la sezione delle strutture).
                </p>
                <p>
                    <b>Rimuovi tenda</b> rimuove la tenda alle coordinate impostate appena viene caricata, e l'asino se non preso in prestito dal giocatore.
                </p>
            </div>
        </div>
    </div>
</div>