<div class="modal fade" id="modal-help" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-help-label">Aiuto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Eccoci su Egobalego at Home, la tua console personale per controllare la mod a distanza!
                </p>
                <p>
                    Se sei qui solo per provare nella tua partita puoi iniziare subito, in quanto la mod dovrebbe connettersi automaticamente al server con le sue impostazioni di default (devi solo attivare la <u>sincronizzazione web</u> dalle impostazioni), altrimenti assicurati prima di usare il sito di aver seguito la documentazione su GitHub su come rendere accessibile il server dall'esterno.
                </p>
                <p>
                    Il sito è diviso in cinque sezioni principali, accessibili dall'header:
                    <ul>
                        <li>
                            <b>STRUTTURE</b>: per spawnare le strutture della mod nel mondo;
                        </li>
                        <li>
                            <b>QUEST</b>: per attivare gli step della quest finale del ricercatore;
                        </li>
                        <li>
                            <b>COMUNICAZIONI</b>: per gestire comunicazioni di vario genere, come mandare notifiche, far dire cose al ricercatore, fargli scrivere diari o sostituire quelli preimpostati, e riscrivere i libri presenti nelle strutture;
                        </li>
                        <li>
                            <b>SCAMBI</b>: per aggiungere scambi al repertorio del ricercatore;
                        </li>
                        <li>
                            <b>COMANDI</b>: per eseguire comandi manuali o specifici della mod.
                        </li>
                    </ul>
                </p>
                <p>
                    Mi raccomando, la prima volta che entri in una sezione del sito assicurati prima di tutto di <b>leggere l'aiuto</b> corrispondente (puoi aprirlo dai punti di domanda in alto a destra), e tieni sempre a mente queste cose:
                    <ul>
                        <li>
                            Quando crei un "evento" (che sia lo spawn di una struttura, un comando, un dialogo o altro) ad esso verrà associato un <b>id univoco</b> nascosto, il quale una volta ricevuto dalla mod verrà salvato per evitare di ripetere più volte uno stesso evento. Quindi, quando stai facendo test per provare varianti di un evento particolare (come la posizione di una struttura) non modificare quello che hai già eseguito, ma ricordati di creare un nuovo evento (e magari elimina quello che non ti è andato bene), altrimenti non succederà niente nel gioco!
                            <br>
                            <u>Nota</u>: questa cosa non vale per tutti gli eventi (gli scambi funzionano in modo diverso per esempio), ma se segui il prossimo punto questa cosa non ti porterà problemi;
                        </li>
                        <li>
                            Non cancellare gli eventi che sono stati ricevuti dalla mod, è consigliabile <b>disattivarli</b> e <b>lasciarli nella pagina</b> in modo da tenere uno storico di ciò che hai fatto (per lo stesso motivo di prima, anche se li lasci non verranno ri-eseguiti).
                        </li>
                    </ul>
                    Questo è tutto! Se vuoi tornare alla home per qualsiasi motivo puoi cliccare sul logo del sito, divertiti!
                </p>
            </div>
        </div>
    </div>
</div>