<div class="modal fade" id="modal-help" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-help-label">Aiuto quest</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Questa è la sezione degli step della quest finale del ricercatore. Di seguito verranno descritti per sezioni in modo da seguire la logica della mod.
                </p>
                <p>
                    <b>Primo step:</b> il ricercatore inizia a soccombere alla piaga, mostrando i sintomi antecendenti alla trasformazione in non morto; questo passaggio consiste nel solo trigger di un dialogo.
                    <br>
                    <u>Nota</u>: il dialogo legato all'evento può venire saltato attivandolo insieme allo step successivo, così se lo si vuole cambiare senza far installare il datapack si può triggerare (prima di attivare gli step) un dialogo manuale dalla sezione comunicazioni.
                </p>
                <p>
                    <b>Secondo step:</b> una volta accortosi di avere fallito nella sua ricerca per una cura il ricercatore scende nello scantinato (lasciando la botola sotto il sacco a pelo scoperta), scrive un diario di addio per il giocatore e si rinchiude nella gabbia.
                    <br>
                    Quando il giocatore lo trova ha <b>due possibilità</b>: cercare i materiali necessari e <b>curarlo</b> (se sa che si può fare, ovviamente), oppure <b>ucciderlo</b> e ottenere il corno decorato e il pugnale (che si può ottenere solo con la sua morte). Se il giocatore decide di curare il ricercatore questo lo ringrazierà e (<u>se attivato lo scambio apposito</u>, che è quindi consigliabile attivare con il secondo step per non dimenticarsene) gli offrirà in cambio di semplice carta gli item della mod.
                    <br>
                    In caso il ricercatore venga curato, allontanarsi e riavvicinarsi alla tenda ricaricando i chunk lo farà teletrasportare fuori dallo scantinato (altrimenti si può usare il comando di teletrasporto dalla sezione comandi), e una volta reincontrato il giocatore gli farà un discorso di addio e resterà nella tenda, continuando a vendere (o regalare) quello che ha.
                </p>
                <p>
                    <b>Terzo step:</b> il ricercatore lascerà una cassa con dentro il corno decorato e il diario di ringraziamento, e se ne andrà via per continuare le sue avventure, portandosi via la tenda e gli oggetti dello scantinato (la cui entrata verrà tappata).
                    <br>
                    <u>Nota</u>: Non per forza non tornerà mai più, se vorrai farlo tornare in futuro per qualche motivo potrai sempre spawnare una nuova tenda, magari senza scantinato. In quel caso assicurati di disattivare gli step prima di spawnarlo e preparati i dialoghi per giustificare il suo ritorno.
                </p>
            </div>
        </div>
    </div>
</div>