<div class="modal fade" id="modal-help" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="modal-help-label">Aiuto scambi</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    Questa è la sezione degli scambi, i quali si dividono in due categorie: <b>preimpostati</b> e <b>personalizzati</b>.
                </p>

                <p>
                    Gli scambi <b>preimpostati</b> sono scambi preconfezionati presenti all'interno dei dati della mod, già pronti per l'attivazione senza che serva impostare niente. Per vedere cosa fanno di preciso o modificarli li puoi trovare nella cartella degli scambi del ricercatore del datapack (data/growsseth/growsseth_researcher_trades).
                </p>

                <p>
                    Gli scambi <b>personalizzati</b> sono scambi liberamente impostabili. Danno molta più libertà di quelli preimpostati, ma richiedono di conoscere la sintassi JSON.
                    <br>
                    Seguono questo template:
                </p>

<pre><code>{
    "gives": //TradeItemEntry,
    "wants": [
        //TradeItemEntry1,
        //TradeItemEntry2 (optional)
    ],
    // OPTIONALS:
    "priority": 0,
    "noNotification": false,
    "replace": false
}</code></pre>

                <p>
                    In <b>"gives"</b> va l'item che si vuole dare con lo scambio (vedere sotto per il formato degli item), mentre in <b>"wants"</b> vanno gli item che si vuole che il ricercatore chieda in cambio (massimo due, come per i villici vanilla). I seguenti campi sono opzionali:
                    <ul>
                        <li>
                            <b>"priority"</b> indica quanto il nuovo scambio deve andare in alto nel menu del ricercatore (tutti gli scambi sono ordinati tramite questo valore, è consigliato studiarsi il datapack per capirlo);
                        </li>
                        <li>
                            <b>"noNotification"</b> (se impostato a <i>true</i>) non mostra la notifica in gioco quando lo scambio viene creato;
                        </li>
                        <li>
                            <b>"replace"</b> (se impostato a <i>true</i>) sostituisce altri scambi a priorità più bassa che offrono lo stesso oggetto.
                        </li>
                    </ul>
                </p>

                <p>
                    Al posto dei commenti con "<u>TradeItemEntry</u>" bisogna inserire un oggetto JSON con questo formato:
                </p>

<pre><code>{
    "id": "minecraft:stick",
    "amount": 5,
}</code></pre>

                <p>
                    In <b>"id"</b> va l'id dell'item che si vuole dare con lo scambio, mentre in <b>"amount"</b> va la quantità offerta (se l'item sta in "gives") o richiesta (se l'item sta in "wants").
                </p>

                <p>
                    <u>Nota 1</u>: se l'oggetto venduto è una mappa del tesoro (per strutture vanilla o della mod), bisogna aggiungere ai valori dell'item un elemento "map" con questo formato:
                </p>

<pre><code>    "map": {
        "name": "Mappa per la fortezza",
        // CHOOSE:
        "structure": "minecraft:stronghold",
        "fixedStructure": "growsseth:cave_camp",
        "x": 0,
        "z": 0,
        // OPTIONALS:
        "description": [
            "Riga 1",
            "Riga 2",
        ],
        "scale": 3,
    },</code></pre>

                <p>
                    In <b>"name"</b> va il titolo della mappa, poi bisogna lasciare uno (due per le coordinate) tra i seguenti elementi (e <b>rimuovere gli altri</b>):
                    <ul>
                        <li>
                            <b>"structure"</b> fa puntare la mappa alla struttura spawnata <b>naturalmente</b> con l'id indicato (viene presa la più vicina);
                        </li>
                        <li>
                            <b>"fixedStructure"</b> funziona come structure ma per strutture spawnate <b>tramite sito</b>;
                        </li>
                        <li>
                            <b>"x"</b> e <b>"z"</b> fanno puntare la mappa a delle <b>coordinate specifiche</b>.
                        </li>
                    </ul>
                </p>
                <p>
                    I seguenti campi sono invece opzionali:
                    <ul>
                        <li>
                            <b>"description"</b> è la descrizione dell'oggetto (quello che appare sotto il nome quando si passa il mouse sopra) e può essere composta da più righe (se si vuole usare una riga sola si può anche usare una stringa al posto della lista);
                        </li>
                        <li>
                            <b>"scale"</b> è lo zoom della mappa, più il valore è alto e più ampia sarà l'area mostrata. Va da 1 a 4 come per le mappe vanilla.
                        </li>
                    </ul>
                </p>

                <p>
                    <u>Nota 2</u>: se si vuole vendere uno dei <b>diari del ricercatore</b> presenti nella mod si deve aggiungere ai valore dell'item questo elemento:
                </p>

<pre><code>    "diaryId": "enchantment_dictionary"</code></pre>

                <p>
                    In <b>"diaryID"</b> va semplicemente l'id del diario nei dati della mod. Per vedere quali sono disponibili o aggiungerne di tuoi puoi guardare il datapack (data/growsseth/growsseth_researcher_diary/it_it).
                </p>

                <p>
                    Per concludere, ecco un esempio di scambio in cui si offrono 15 TNT per 3 bastoni e 10 carote:
                </p>

<pre><code>{
    "gives":{
        "id":"minecraft:tnt",
        "amount":15
    },
    "wants":[
        {
            "id":"minecraft:stick",
            "amount":3
        },
        {
            "id":"minecraft:carrot",
            "amount":10
        }
    ],
    "priority":100
}</code></pre>

            </div>
        </div>
    </div>
</div>