@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@font-face {
    font-family: Minecraft;
    src: url("./../font/MinecraftTen-VGORe.ttf");
}

* {
    font-family: 'Poppins', sans-serif;
}

.title-font {
    font-family: 'Minecraft';
    font-size: 32px;
}

.active{
    background-color: #04AA6D!important;
    border-color: #04AA6D!important;
}
