<template id="communication-template">
    <div class="row justify-content-center">
        <div id="communication-card" class="card mt-3 bg-dark-subtle p-3" style="max-width: 550px;">

            <input id="card-id" hidden/>

            <div class="row card-title">
                <div id="no-type-warning" class="col-auto text-danger">
                    {{ translations.communication_type_not_set }}
                </div>

                <div id="card-enabler" class="col-auto form-check form-switch ms-3" hidden>
                    <input id="card-enabler-switch" class="form-check-input" type="checkbox" role="switch">
                    <label id="card-enabler-label" class="form-check-label">
                        {{ translations.not_active_2 }}
                    </label>
                </div>

                <div class="col text-end">
                    <button id="delete-card-button" class="btn btn-sm btn-outline-secondary">
                        {% include 'icons/trash-fill.html' %}
                    </button>
                </div>
            </div>

            <div class="card-body g-0">
                <div class="row input-group g-0">
                    <span class="input-group-text col-4">{{ translations.type }}</span>
                    <select id="communication-type" class="form-select">
                        <option value="none" selected></option>
                        <option value="toast-simple">{{ translations.communication_toast_simple }}</option>
                        <option value="toast-with-icon">{{ translations.communication_toast_with_icon }}</option>
                        <option value="dialogue">{{ translations.communication_dialogue }}</option>
                        <option value="researcher-diary-new">{{ translations.communication_researcher_diary_new }}</option>
                        <option value="researcher-diary-replace">{{ translations.communication_researcher_diary_replace }}</option>
                        <option value="researcher-diary-replace-goodbye">{{ translations.communication_researcher_diary_replace_goodbye }}</option>
                        <option value="structure-book">{{ translations.communication_structure_book }}</option>
                    </select>
                </div>

                <div id="researcher-diary-struct" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.structure }}</span>
                    <select id="diary-structure" class="form-select">
                        <option value="golem_house" selected>{{ translations.structure_golem_house }}</option>
                        <option value="enchant_tower">{{ translations.structure_enchant_tower }}</option>
                        <option value="abandoned_forge">{{ translations.structure_abandoned_forge }}</option>
                        <option value="noteblock_lab">{{ translations.structure_noteblock_lab }}</option>
                        <option value="beekeeper_house">{{ translations.structure_beekeeper_house }}</option>
                        <option value="conduit_church">{{ translations.structure_conduit_church }}</option>
                        <option value="quest_zombie">{{ translations.quest_zombie }}</option>
                        <option value="quest_good_ending">{{ translations.quest_good_ending }}</option>
                    </select>
                </div>

                <div id="structure-books" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.structure }}</span>
                    <select id="book-structure" class="form-select">
                        <option value="cave_camp" selected>{{ translations.structure_cave_camp }}</option>
                        <option value="enchant_tower">{{ translations.structure_enchant_tower }}</option>
                        <option value="abandoned_forge">{{ translations.structure_abandoned_forge }}</option>
                        <option value="noteblock_lab">{{ translations.structure_noteblock_lab }}</option>
                        <option value="beekeeper_house">{{ translations.structure_beekeeper_house }}</option>
                        <option value="noteblock_ship">{{ translations.structure_noteblock_ship }}</option>
                    </select>
                </div>

                <div id="toast-icon" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.namespace }}</span>
                    <input id="namespace" class="form-control" value="minecraft">
                    <span class="input-group-text col-auto">{{ translations.id }}</span>
                    <input id="item-id" class="form-control" value="stone">
                </div>

                <div id="author" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.author }}</span>
                    <input id="author-text" class="form-control">
                </div>

                <div id="title" class="row input-group g-0 mt-3" hidden>
                    <span class="input-group-text col-4">{{ translations.title }}</span>
                    <input id="title-text" class="form-control">
                </div>

                <div id="content" class="form-floating mt-3" hidden>
                    <textarea id="content-text" class="form-control" style="height: 100px"></textarea>
                    <label>{{ translations.content }}</label>
                </div>
            </div>
        </div>
    </div>
</template>