<template id="structure-template">
    <div class="row justify-content-center">
        <div id="structure-card" class="card mt-3 bg-dark-subtle p-3" style="max-width: 700px;">

            <input id="card-id" hidden/>

            <div class="row card-title">
                <div id="no-type-warning" class="col-auto text-danger">
                    {{ translations.structure_type_not_set }}
                </div>

                <div id="card-enabler" class="col-auto form-check form-switch ms-3" hidden>
                    <input id="card-enabler-switch" class="form-check-input" type="checkbox" role="switch">
                    <label id="card-enabler-label" class="form-check-label">
                        {{ translations.not_active_2 }}
                    </label>
                </div>

                <div class="col text-end">
                    <button id="delete-card-button" class="btn btn-sm btn-outline-secondary">
                        {% include 'icons/trash-fill.html' %}
                    </button>
                </div>
            </div>

            <div class="row g-0">
                <div class="col-md-4 d-none d-md-block">
                    <img id="structure-preview" src = "{{url_for('static', filename='img/structure/none.png')}}"
                         style="max-height: 200px; max-width: 200px;" class="img-fluid rounded-3" alt="Structure preview">
                </div>

                <div class="col-md-8 card-body">
                    <div class="row input-group g-0">
                        <span class="input-group-text col-4">{{ translations.structure }}</span>
                        <select id="structure-type" class="form-select">
                            <option value="growsseth:none" selected></option>
                            <option value="growsseth:researcher_tent">{{ translations.structure_researcher_tent }}</option>
                            <option value="growsseth:cave_camp">{{ translations.structure_cave_camp }}</option>
                            <option value="growsseth:marker">{{ translations.structure_marker }}</option>
                            <option value="growsseth:golem_variants">{{ translations.structure_golem_house }}</option>
                            <option value="growsseth:enchant_tower">{{ translations.structure_enchant_tower }}</option>
                            <option value="growsseth:abandoned_forge">{{ translations.structure_abandoned_forge }}</option>
                            <option value="growsseth:beekeeper_house">{{ translations.structure_beekeeper_house }}</option>
                            <option value="growsseth:noteblock_lab">{{ translations.structure_noteblock_lab }}</option>
                            <option value="growsseth:conduit_church">{{ translations.structure_conduit_church }}</option>
                            <option value="growsseth:noteblock_ship">{{ translations.structure_noteblock_ship }}</option>
                            <option value="growsseth:conduit_ruins">{{ translations.structure_conduit_ruins }}</option>
                            <option value="growsseth:researcher_tent_simple">{{ translations.structure_researcher_tent_simple }}</option>
                        </select>
                    </div>

                    <div id="golem-variant" class="row input-group g-0 mt-4" hidden>
                        <span class="input-group-text col-4">{{ translations.variant }}</span>
                        <select id="golem-select" class="form-select">
                            <option value="plains_golem_house" selected>{{ translations.golem_variant_plains }}</option>
                            <option value="desert_golem_house">{{ translations.golem_variant_plains }}</option>
                            <option value="savanna_golem_house">{{ translations.golem_variant_desert }}</option>
                            <option value="snowy_golem_house">{{ translations.golem_variant_snowy }}</option>
                            <option value="taiga_golem_house">{{ translations.golem_variant_taiga }}</option>
                        </select>
                        <div class="col-3 form-check form-switch ms-4 pt-1">
                            <input id="golem-zombie-switch" class="form-check-input" type="checkbox" role="switch">
                            <label class="form-check-label">
                                {{ translations.zombie }}
                            </label>
                        </div>
                    </div>

                    <div id="coordinates" class="row input-group g-0 mt-4" hidden>
                        <span class="input-group-text col-4">{{ translations.coordinates }}</span>
                        <input id="x-coord" type="number" class="form-control" placeholder="X" value="0">
                        <input id="y-coord" type="number" class="form-control" placeholder="Y" value="0">
                        <input id="z-coord" type="number" class="form-control" placeholder="Z" value="0">
                    </div>

                    <div id="rotation" class="row input-group g-0 mt-4" hidden>
                        <span class="input-group-text col-4">{{ translations.rotation }}</span>
                        <select id="rotation-select" class="form-select">
                            <option value="none" selected>{{ translations.rotation_none }}</option>
                            <option value="clockwise_90">{{ translations.rotation_90 }}</option>
                            <option value="counterclockwise_90">{{ translations.rotation_90_inv }}</option>
                            <option value="180">{{ translations.rotation_180 }}</option>
                            <option value="auto">{{ translations.rotation_auto }}</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>